/* <pre><nowiki> */

/* wikitable/prettytable class for skinning normal tables */
table.wikitable, table.prettytable {
 padding: 3px;
 margin: 0.8em;
 background: #f9f9f9;
 border: 1px #aaaaaa solid;
 border-collapse: collapse;
}
table.wikitable th, table.wikitable td, table.prettytable th, table.prettytable td {
 border: 1px #aaaaaa solid;
 padding: 0.2em;
}
table.wikitable th, table.prettytable th {
 background: #f2f2f2;
 text-align: center;
}
table.wikitable caption, table.prettytable caption {
 margin-left: inherit;
 margin-right: inherit;
}


/* wikitable/prettytable class for skinning the main tables */
table.maintable {
 margin: 2em 2em 2em 0;
 background: #f9f9f9;
 border: 1px #aaaaaa solid;
 border-collapse: collapse;
}
table.maintable th, table.maintable td {
 border: 1px #aaaaaa solid;
 padding: 0.5em;
}
table.maintable th {
 background: #f2f2f2;
 background: #f9f9f9;
 text-align: center;
 padding: 1em;
}
table.maintable caption {
 font-weight: bold;
 padding: 1em;
}


/* box layouts */
.mainpage_box {
 border:1px  solid #aaaaaa;
 margin-bottom: 0.4em;
}

.mainpage_boxheader {
 background: #eeeeee;
 font-weight: bold;
 font-size: 120%;
 text-align: center;
 padding:0.6em 1em;
 border-bottom:1px solid #aaaaaa;
}

.mainpage_boxcontents {
 background: #ffffff;
 padding:0.2em 0.4em;
}

/* thin line on left of content */
#column-one {
 border-right: 1px solid;
 border-color: #eeeeee;
 margin-right: 1em;
}


/* note boxes */
div.notebox {
        border: 1px solid #999999;
        padding: 3px;
	margin: 0.8em;
        background-color: #efefef;
        color: #0020a0;
        font-size: 1.0em;
	word-wrap: break-word;
	max-width: 20em;
}

/* inset boxes */
div.insetbox {
        border: 1px solid #999999;
        padding: 3px;
	margin: 0.8em;
        background-color: #efefef;
        font-size: 1.0em;
	word-wrap: break-word;
}

/* </pre></nowiki> */